<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShowOrHideFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2970E9F71ECED04E00831D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2970EA0D1ECED04F00831D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2970EA181ECED04F00831D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
